.gray-image {
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.darken-image {
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
}

.button-row {
	margin-top: 1em;
	text-align: right;
}

.profile {
	padding-top: 5em;
	margin-bottom: 0;
	padding-bottom: 3em;
}

.skill{
	height: 3em;
	overflow: hidden;
}

.skill-row{
	margin-bottom: .1em;
}

.no-margin{
	margin: 0;
	padding-top: 1em;
}

.card {
	min-height: 25em;
}

.desk-img {
      height: 40em;
    }
