a, p, td {
	font-family: 'Lato', sans-serif;	
}

h1, h2, h3 {
	font-family: 'Bungee', cursive;	
}

.lato{
	font-family: 'Lato', sans-serif;
}

.bungee{
	font-family: 'Bungee', cursive;
}


.gray-image {
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.darken-image {
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
}

.darker-image {
    -webkit-filter: brightness(25%);
    filter: brightness(25%);
}

.boxed {
	padding: 1.5em;
	border: solid 5px #64ffda;
}

.button-row {
	margin-top: 1em;
	text-align: right;
}

.profile {
	margin-bottom: 0;
	padding-bottom: 3em;
}

.skill{
	height: 3em;
	overflow: hidden;
}

.skill-row{
	margin-bottom: .1em;
}

.no-margin{
	margin: 0;
	padding-top: 1em;
}

.card {
	min-height: 25em;
}

.desk-img {
	height: 40em;
}

.music-container {
	height: 60em;
}

